/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.copyright {
	display: block;
	width: 100%;
	margin: 0;
	background-color: $black;
	padding: 25px 15px;
	text-align: center;
	color: $white;
	a {
		color: $white;
	}
}
