/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
a {
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: 0;
	}
}

.main-navigation {
	.primary-menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li:hover > ul,
		li.focus > ul {
			transform: translateY(0);
			display: block;
			opacity: 1;
		}
	}

	.sub-menu {
		position: absolute;
		left: 0;
		top: 100%;
		border-top: 3px solid $white;
		z-index: 99999;
		background-color: $black;
		transition: $dur $ease;
		transform: translateY(5px);
		display: none;
		opacity: 0;

		.sub-menu {
			left: 100%;
			top: 0;
		}

		li {
			border-bottom: 1px solid $black;

			&:last-of-type {
				border-bottom: none;
			}
		}

		a {
			width: 200px;
		}
	}

	li {
		position: relative;
		float: left;
		transition: $dur $ease;

		&:hover > a,
		&.focus > a {
			background-color: $white;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $white;
		padding: 20px 15px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	@include mq($phone) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		z-index: 100;
		transition: $dur $ease $dur;

		&::before {
			content: '';
			display: block;
			background-color: rgba($black, .4);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: $dur $ease;
		}

		&.open {
			visibility: visible;
			transition: none;

			&::before {
				opacity: 1;
				transition: $dur $ease 10ms;
			}

			> ul {
				transform: translateX(0);
				transition: $dur $ease 10ms;
			}
		}

		.primary-menu {
			position: absolute;
			top: 0;
			right: 0;
			width: 230px;
			height: 100%;
			background-color: $black;
			padding-top: 60px;
			overflow: auto;
			z-index: 100;
			transform: translateX(100%);
			transition: $dur ease;
		}

		.sub-menu {
			position: static;
			transition: initial;
			transform: none;
			background-color: transparent;
			border: 0;
			padding: 5px 0 10px 10px;
			opacity: 1;
			display: none;

			li {
				border: 0;
				font-size: .85em;
			}

			.sub-icon {
				top: 1px;
			}
		}

		li {
			float: none;

			&:hover > a,
			&.focus > a {
				background-color: transparent;
			}
		}

		a {
			display: inline-block;
			padding: 0 15px;
		}

		.sub-icon {
			line-height: 1;
			display: block;
			color: $white;
			font-size: 18px;
			position: absolute;
			right: 60px;
			top: 3px;
			transition: $dur $ease;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
