// WooCommerce
$woo-color-error: #e2401c;
$woo-color-success: #0f834d;
$woo-color-info: #3d9cd2;

$columns: (
		1: 100%,
		2: 50%,
		3: 33.33%,
		4: 25%,
		5: 20%,
		6: 16.66%,
		7: 14.28%,
		8: 12.5%,
		9: 11.11%
);
$columns-margin: 3.8%;

// Column width with margin
@mixin column-width($number-columns: 3) {
	width: map-get($columns, $number-columns) - (($columns-margin * ($number-columns - 1)) / $number-columns);
}